@import "./_variables.scss";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./_overrides.scss";
@import "./custom.scss";
@import "./loaders.scss";

@mixin fade-in {
  transition: all ease .17s;
}

@mixin fit {
  background-position: center;
  background-size: cover;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: $body-bg url(https://images.unsplash.com/photo-1603468620905-8de7d86b781e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2676&q=80);
  @include fit;
}


main {
  flex-grow: 1;
  backdrop-filter: blur(7px) brightness(25%) contrast(70%);

  #app {
    @include fit;
    transition: all 1s ease;
    height: 100vh;
    width: 100%;
  }
}


#vibes-list {
  max-height: 99vh;
  overflow-y: scroll;
  overflow-x: visible;
  direction: rtl;

  &::-webkit-scrollbar {
    width: 1em;
  }

  &::-webkit-scrollbar-track {}

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .3);
    border-radius: 10px;
  }
}

.list-item {
  position: relative;
  background: rgba(16, 16, 16, 0.5);
  z-index: 2;
  text-align: end;
  backdrop-filter: blur(20px);
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, .3);
  @include fade-in();

  &:hover {
    background: $primary;
    color: $dark;
    transform: translateX(10px);
  }
}

#timer {
  background: rgba(16, 16, 16, 0.5);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, .3);
  border-radius: 10px;

  .collapse {
    &:not(.show) {
      display: none;
    }
  }

  .collapsing {
    width: 0;
    height: 0;
    overflow: hidden;
    transition: width .35s ease;
    transition: height .35s ease;
  }

  input {
    color: $light
  }
}

.text-shadow {
  text-shadow: 0px 0px 8px rgba(32, 32, 32, 0.6);
}

#sound-cloud {
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, .3);
}