@import "./_variables.scss";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./_overrides.scss";
@import "./custom.scss";
@import "./loaders.scss";
$medium-screen: 768px;

@mixin fade-in {
  transition: all ease .17s;
}

@mixin fit {
  background-position: center;
  background-size: cover;
}

@mixin max-height-mobile($height) {
  @media (max-width: $medium-screen) {
    max-height: $height;
  }
}

@mixin screen-direction {
  @media (max-width: $medium-screen) {
    flex-direction: column;
    align-items: center;
  }
}

@mixin overlay($color: rgba(0, 0, 0, .3)) {
  background-color: $color;
  border: 1px outset rgba(150, 150, 150, .3);
  backdrop-filter: blur(20px);
  border-radius: 10px;
  box-shadow: 0px 2px 4px $color;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  background: $body-bg url(https://images.unsplash.com/photo-1603468620905-8de7d86b781e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2676&q=80);
  @include fit;
}


main {
  padding: 0;
  margin: 0;
  flex-grow: 1;
  backdrop-filter: blur(7px) brightness(25%) contrast(70%);

  #app {
    @include fit;
    transition: all 1s ease;
    height: 100vh;
    width: 100%;
  }
}


#vibes-list {
  max-height: 99vh;
  @include max-height-mobile(40vh);
  overflow-y: scroll;
  overflow-x: visible;
  direction: rtl;

  &::-webkit-scrollbar {
    width: 1em;
  }

  &::-webkit-scrollbar-track {}

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .3);
    border-radius: 10px;
  }
}

.list-item {
  position: relative;
  background: rgba(16, 16, 16, 0.5);
  z-index: 2;
  text-align: end;
  @include overlay();
  @include fade-in();

  &:hover {
    background: $primary;
    color: $dark;
    transform: translateX(10px);
  }
}

#section-2 {
  @include screen-direction();
}

#timer {
  @include overlay();


  .collapse {
    &:not(.show) {
      display: none;
    }
  }

  .collapsing {
    width: 0;
    height: 0;
    overflow: hidden;
    transition: width .35s ease;
    transition: height .35s ease;
  }

  input {
    color: $light
  }
}

.text-shadow {
  text-shadow: 0px 0px 8px rgba(32, 32, 32, 0.6);
}

#sound-cloud {
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, .3);

  @media (max-width: $medium-screen) {
    width: 100%;
  }
}

#cloud-player {
  @include screen-direction();
  justify-content: flex-end;

  @media (max-width: $medium-screen) {
    justify-content: center;
  }
}

#volume-control{
 .form-range{
 width:          240px;  
 
}
  @media  (max-width: $medium-screen) {
    .form-range{
      width:          100%;  
     }
  }
}
